{% extends "optimizer/index.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-left px-1 mt-4 mb-1" style="padding-bottom:10px">
      <span>Demand Objects</span>
    </h6>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    {% for zone0_component in zone0_components %}
      <a href="/?component={{ zone0_component.comp_name }}" class="list-group-item list-group-item-action"> {{ zone0_component.comp_name }}</a>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-left px-1 mt-4 mb-1" style="padding-bottom:10px">
      <span>Select component to edit</span>
    </h6>
  </div>
</div>
{% endblock %}
