{% extends "optimizer/index.html" %}

{% block content %}
<div class="row" style="padding-left:50px">
  <div class="col-md-6">
    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding-bottom:50px">
      <span >Add a System Component</span>
    </h4>
  </div>
</div>
<div class="row" style="padding-left:50px">
  <div class="list-group col-md-5">
    <a href="{% url 'add_demand' sys_id=sys_id %}" class="list-group-item list-group-item-action">Demand Profile</a>
    <a href="{% url 'add_battery' sys_id=sys_id %}" class="list-group-item list-group-item-action">Battery</a>
    <a href="{% url 'add_solar' sys_id=sys_id %}" class="list-group-item list-group-item-action">Solar</a>
    <a href="{% url 'add_generator' sys_id=sys_id %}" class="list-group-item list-group-item-action">Generator</a>
    <a href="{% url 'add_converter' sys_id=sys_id %}" class="list-group-item list-group-item-action">Converter</a>
    <a href="{% url 'add_controller' sys_id=sys_id %}" class="list-group-item list-group-item-action">Controller</a>
    <a href="{% url 'add_grid' sys_id=sys_id %}" class="list-group-item list-group-item-action">Grid</a>
  </div>
  <div class="list-group col-md5">
</div>
{% endblock %}
