{% extends "optimizer/index.html" %}

{% block content %}

<p> Select component to add</p>

<a class="btn btn-light" href="add_demand/" role="button">Add <br> Demand</a>
<button type="button" class="btn btn-outline-light">Solar</button>
<button type="button" class="btn btn-outline-light">Battery</button>
<button type="button" class="btn btn-outline-light">Converter</button>
<button type="button" class="btn btn-outline-light">Controller</button>
<button type="button" class="btn btn-outline-light">Grid</button>

{% endblock %}
