{% extends "optimizer/index.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row" style="padding-left:50px">
  <div class="col-md-6">
    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Configure Controller {{ controller }}</span>
    </h4>
  </div>
</div>
<div class="row" style="padding-left:50px">
  <div class="col-md-6">
    <div class="row" style="margin-top:10px">
      <div class="col-md-4">
        <h6 class="sidebar-heading d-flex px-3 mt-4 mb-1 text-muted">
          <span>Components</span>
        </h6>
      </div>
      <div class="col-md-4">
        <h6 class="sidebar-heading d-flex px-3 mt-4 mb-1 text-muted">
          <span>Configuration</span>
        </h6>
      </div>
    </div>
    <div class="row" style="margin-top:20px">
      {% for component in controller_objects %}
        <div class="col-md-4">
          {{ component.comp_type }} ({{ component }}) <br>
        </div>
        <div class="col-md-4">
          {{ component.addtocontroller.mode }}  <br>
        </div>
        <div class="col-md-4">
          <a class="btn btn-light" href="{% url 'add_to_controller' sys_id=sys_id comp_name=component.comp_name controller=controller%}" role="button">Change</a>
          <br>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
