{% extends "optimizer/index.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row" style="padding-left:50px">
  <div class="col-md-6">
    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Configure Controller {{ controller }}</span>
    </h4>
  </div>
</div>
<div class="row" style="padding-left:50px">
  <div class="col-md-6">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Components</span>
    </h6>
    <div class="row" style="margin-top:20px">
      <div class="col-md-6">
        {% for component in controller_objects %}
            {{ component.comp_type }} ({{ component }}) <br>
        {% endfor %}
      </div>
      <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <select name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
          <label for="comp_input">Enter name: </label>
          <input id="comp_input" type="" name="comp_field" value="Default name for team.">
          <input type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
