<!DOCTYPE html>

<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../../../favicon.ico">

    <title>Microgrid Optimizer</title>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header -->
    <div class="container-fluid" style="margin-top:15px">
      <div class="border-bottom">
        <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding-bottom:10px">
          <span>Microgrid Simulator and Optimization Tool</span>
        </h5>
      </div>

    <!-- Navbar -->
      <div class="tab-content border-bottom" id="myTabContent" style="margin-top:10px; padding-bottom:10px;">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <a class="btn btn-light" href="{% url 'add_component' sys_id=sys_id %}" role="button">Add <br> Component</a>
          <a class="btn btn-light" href="{% url 'run_model' sys_id=sys_id %}" role="button">Run <br> Model</a>
          <a class="btn btn-light" href="{% url 'view_system' sys_id=sys_id %}" role="button">View <br> System</a>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="row" style="margin-top:10px">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding-bottom:10px">
              <span>{{ system_name }}</span>
            </h4>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding-bottom:10px">
              <span>Components</span>
            </h6>
            <div class="list-group">
              {% for component in components %}
              <a href="{% url 'view_component' comp_name=component.comp_name sys_id=sys_id %}" class="list-group-item list-group-item-action">
                {{ component.comp_type }} ({{ component }})
              </a>
              {% endfor %}
            </div>
          </div>
        </nav>

        <!-- Content -->
        <main role="main" class="col-md-10 ml-sm-auto px-4">
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
