{% extends "optimizer/index.html" %}

{% block content %}
<div class="row" style="padding-left:50px">
  <div class="col-md-6">
    <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" style="padding-bottom:50px">
      <span >Simulation of {{system_name}}</span>
    </h4>
  </div>
</div>

{% if run_model_err != None %}
<div class="row">
  <div class="col-md-11">
  {{ run_model_err }}
  </div>
</div>
{% endif %}
{% if html_demand != None %}
<div class="row">
  <div class="col-md-11">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {{ html_demand|safe }}
  </div>
</div>
{% endif %}
{% if html_bat != None %}
<div class="row">
  <div class="col-md-11">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {{ html_bat|safe }}
  </div>
</div>
{% endif %}

{% endblock %}
